body
{
	background: url('../background1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}
.container
{
	border: 2px solid;
	border-top: hidden;
	box-shadow: 5px 5px 5px rgba(1,42,84,0.8);
	border-radius: 20px;
}
.container-fluid
{
	border: 0px solid;
}
.deleteform
{
	border: 2px solid;
	border-radius: 20px;
	color: black;
	background-color: #B0E0E6;
	font-weight: bold;
	font-size: 3em;
	padding: 5px 6px;
	font-family: Imprint MT Shadow;
	font-style: italic;	
	box-shadow: 5px 5px 5px rgba(1,42,84,0.8);
}
.deleteform:hover
{
	background-color: #FFD700;
}